<div class="row error-rows">
	<div class="small-3 columns">
		<label for="contact_name" class="right inline">Name</label>
	</div>
	<div class="small-9 columns">
		<input type="text" name="contact_name" id="contact_name" />
		<small class="error hide"></small>
	</div>
</div>
<div class="row error-rows">
	<div class="small-3 columns">
		<label for="contact_category" class="right inline">Kategorie</label>
	</div>
	<div class="small-9 columns">
		<select name="contact_category" id="contact_category">
			<option value="anfrage">Anfrage</option>
			<option value="beschwerde">Beschwerde</option>
			<option value="vorschlaege">Vorschläge</option>
			<option value="sonstiges">Sonstiges</option>
		</select>
	</div>
</div>
<div class="row error-rows">
	<div class="small-3 columns">
		<label for="contact_textarea" class="right inline">Text</label>
	</div>
	<div class="small-9 columns">
		<textarea name="contact_textarea" id="contact_textarea"></textarea>
		<small class="error hide"></small>
	</div>
</div>
<button class="radius" type="submit">
	Nachricht senden
</button>