<div class="row content">
	<div class="small-12 columns">
		<h3>
			Berichte Übersicht
		</h3>
	</div>
</div>
<div class="row">
	<table>
		<thead>
			<tr>
				<th width="300px">
					Berichtsdatum
				</th>
				<th width="1500px">
					Bericht
				</th>
				<th width="300px">
				</th>
			</tr>
		</thead>
		<tbody>
			{% for report in reports %}
			<tr>
				<td>
					{{report.get('reportdate')}}
				</td>
				<td>
					{{report.get('description')}}

				</td>
				<td>
					<ul class="button-group round">
						<li>
							<span data-tooltip aria-haspopup="true" class="has-tip" title="Bericht editieren">
								<a href="#" class="button small success fa fa-pencil-square-o report-edit" reportID="{{report.get('id')}}" data-reveal-id="myModal"></a>
							</span>
						</li>
						<li>
							<span data-tooltip aria-haspopup="true" class="has-tip" title="Bericht löschen">
							<a class="button small alert report-delete fa fa-trash-o" reportID="{{report.get('id')}}"></a>
							</span>
						</li>
					</ul>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
