<div class="row">
	<div class="large-12 columns">
		<h3>
		Login
		</h3>
		<form id="form-login">
			<div class="row">
				<div class="small-12 columns">
					<label for="username" class="inline">Name
						<input type="text" name="username" id="username" />
						<small class="error hide"></small>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<label for="password" class="inline" >Passwort
						<input type="password" name="password" id="password" />
						<small class="error hide"></small>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns text-right">
					<button class="radius small button" type="submit">
					Login
					</button>
				</div>
			</div>
		</form>
	</div>
</div>