<form>
	<div class="row">
		<div class="small-1 columns">
			<label for="username" class="right inline">Name</label>
		</div>
		<div class="small-5 columns">
			<input type="text" name="username" id="username" />
			<small class="error hide"></small>
		</div>
		<div class="small-1 columns">
			<label for="password" class="right inline">Passwort</label>
		</div>
		<div class="small-5 columns">
			<input type="text" name="password" id="password" />
			<small class="error hide"></small>
		</div>
	</div>
	<button class="radius" type="submit">
		Einloggen
	</button>
</form>