<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="#home"><i class="fa fa-home"></i> Home</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			{% if not user.get("username") %}
			<li><a href="#signup"><i class="fa fa-sign-out"></i> Registrieren</a></li>
			{% else %}
			<li><a href="#reports"><i class="fa fa-floppy-o"></i> Bericht erstellen</a></li>
			{% endif %}
		</ul>
		{% if user.get("username") %}
		<ul class="right">
			<li class="has-dropdown">
			<a href="#"><i class="fa fa-user"></i> {{user.get("username")}}</a>
			<ul class="dropdown">
				<li><a href="#profile_update">Profil ändern</a></li>
				<li><a href="#email_update">Email ändern</a></li>
				<li><a href="#password_update">Passwort ändern</a></li>
				<li><a href="#logout">Logout</a></li>
			</ul>
			</li>
		</ul>
		{% endif %}
	</section>
</nav>