<div class="row content">
	<div class="large-12 columns">
		<h2>
		Bericht erstellen
		</h2>
		<form>
			<div class="row">
				<div class="small-3 columns">
					<label for="reportDate" class="right inline">Berichtsdatum</label>
				</div>
				<div class="small-9 columns">
					<input type="text" name="reportDate" id="reportDate" />
					<small class="error hide"></small>
				</div>
			</div>
			<div class="row">
				<div class="small-3 columns">
					<label for="description" class="right inline" >Bericht</label>
				</div>
				<div class="small-9 columns">
					<textarea name="description" id="description"></textarea>
					<small class="error hide"></small>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns text-right">
					<button class="radius small button" type="submit">
					<i class="fa fa-file-text"></i> Bericht erstellen
					</button>
				</div>
			</div>
		</form>
	</div>
</div>