<h1>
Registrierungsformular
</h1>
<form>
	<div class="row signup-rows">
		<div class="small-3 columns">
			<label for="name" class="right inline">Name</label>
		</div>
		<div class="small-9 columns">
			<input type="text" name="name" id="name" />
			<small class="error hide"></small>
		</div>
	</div>
	<div class="row signup-rows">
		<div class="small-3 columns">
			<label for="email" class="right inline">Email</label>
		</div>
		<div class="small-9 columns">
			<input type="text" name="email" id="email" />
			<small class="error hide"></small>
		</div>
	</div>
	<div class="row signup-rows">
		<div class="small-3 columns">
			<label for="password" class="right inline" >Passwort</label>
		</div>
		<div class="small-9 columns">
			<input type="password" name="password" id="password" />
			<small class="error hide"></small>
		</div>
	</div>
	<div class="row signup-rows">
		<div class="small-3 columns">
			<label for="password_confirmation" class="right inline" >Passwort wiederholen</label>
		</div>
		<div class="small-9 columns">
			<input type="password" name="password_confirmation" id="password_confirmation" />
			<small class="error hide"></small>
		</div>
	</div>
	<button class="radius" type="submit">
	Registrieren
	</button>
</form>