<h1 class="header-left-100">
Registrierungsformular
</h1>
<div class="left-100-absolute">
	<form>
		<div class="row signup-rows">
			<div class="small-3 columns">
				<label for="name" class="right inline">Name</label>
			</div>
			<div class="small-9 columns">
				<input type="text" name="name" id="name" />
				<small class="error hide"></small>
			</div>
		</div>
		<div class="row signup-rows">
			<div class="small-3 columns">
				<label for="email" class="right inline">Email</label>
			</div>
			<div class="small-9 columns">
				<input type="text" name="email" id="email" />
				<small class="error hide"></small>
			</div>
		</div>
		<div class="row signup-rows">
			<div class="small-3 columns">
				<label for="password" class="right inline" >Password</label>
			</div>
			<div class="small-9 columns">
				<input type="text" name="password" id="password" />
				<small class="error hide"></small>
			</div>
		</div>
		<ul class="button-group">
			<button class="radius" type="submit">
			Registrieren
			</button>
		</ul>
	</form>
</div>