@import"../vendor/foundation/scss/foundation.scss";
@import"../vendor/components-font-awesome/scss/font-awesome.scss";
@import"components/login.scss";
@import"components/datepicker.scss";

input {
    margin: 0px !important;
}
body {
    background: #F7F7F7;
}

.content {
    background: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    h3 {
    	border-bottom: 1px solid #ccc;
    }
}

.dashboard_button{
    outline:none;
    border:0;
    background-color: black;
}

.form_buttons{
    margin:0 !important;
    padding:0 !important;
}