<div class="row">
	<div class="large-12 columns">
		<h3>
		Email ändern
		</h3>
		<form id="form-login">
			<div class="form-row row">
				<div class="small-6 columns">
					<label for="oldemail" class="inline">Alte Email eingeben
						<input type="email" name="oldemail" id="oldemail" />
						<small class="error hide"></small>
					</label>
				</div>
			</div>
			<div class="form-row row">
				<div class="small-6 columns">
					<label for="newemail" class="inline" >Neue Email eingeben
						<input type="email" name="newemail" id="newemail" />
						<small class="error hide"></small>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns text-right">
					<button class="radius small button" type="submit">
					Email ändern
					</button>
				</div>
			</div>
		</form>
	</div>
</div>