<div class="row">
	<div class="large-12 columns">
		<h3>
		Passwort ändern
		</h3>
		<form id="form-login">
			<div class="form-row row">
				<div class="small-6 columns">
					<label for="oldpassword" class="inline">Altes Passwort
						<input type="password" name="oldpassword" id="oldpassword" />
						<small class="error hide"></small>
					</label>
				</div>
			</div>
			<div class="form-row row">
				<div class="small-6 columns">
					<label for="newpassword" class="inline" >Neues Passwort
						<input type="password" name="newpassword" id="newpassword" />
						<small class="error hide"></small>
					</label>
				</div>
			</div>
			<div class="form-row row">
				<div class="small-6 columns">
					<label for="newpassword2" class="inline" >Neues Passwort wiederholen
						<input type="password" name="newpassword2" id="newpassword2" />
						<small class="error hide"></small>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns text-right">
					<button class="radius small button" type="submit">
					Passwort ändern
					</button>
				</div>
			</div>
		</form>
	</div>
</div>